$color-pas-red: #FE3019;
$color-pas-orange: #FF301A;
$color-pas-grey-dark: #1F1E23;
$color-pas-grey-dark-alt: #232323;
$color-pas-grey-dark-alt-1: #1f1f21;
$color-pas-grey-lighter: #36353A;
$color-pas-black-dark: #161618;


$color-checkout-proceed: #00b62d;

$border-color: #eeeeee;

$category-page-border: 1px solid #eeeeee;

$header-font-family: "Oswald", sans-serif;


//  Weights
$font-weight__light             : 300 !default;
$font-weight__regular           : 400 !default;
$font-weight__heavier           : 500 !default;
$font-weight__semibold          : 600 !default;
$font-weight__bold              : 700 !default;


$page-title-font-weight: $font-weight__heavier;

$standard-button-radius: 2.5rem;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
//$container-tablet:             ((720px + $grid-gutter-width));
$container-tablet: 100%;
// For `$screen-sm-min` and up.
$container-sm: $container-tablet;

// Medium screen / desktop
//$container-desktop:            ((940px + $grid-gutter-width));
$container-desktop: 100%;
// For `$screen-md-min` and up.
$container-md: $container-desktop;

// Large screen / wide desktop
//$container-large-desktop:      ((1140px + $grid-gutter-width));
$container-large-desktop: 100%;
// For `$screen-lg-min` and up.
$container-lg: $container-large-desktop;

// Large screen / wide desktop
$container-extra-large-desktop: ((1410px + $grid-gutter-width));
// For `$screen-lg-min` and up.
$container-xlg: $container-extra-large-desktop;


//
//  Typography
//  ---------------------------------------------

//  Headings
$h1__margin-bottom__desktop                                   : $indent__xl !default;

//
//  Layout grid
//  ---------------------------------------------

//  Header
$header-icons-color                                           : $color-gray56 !default;
$header-icons-color-hover                                     : $color-gray20 !default;

//
//  Icons
//  ---------------------------------------------
//

$icon-edit                                                    : '\e606' !default;

//
//  Popups
//  ---------------------------------------------

//  Checkout tooltip
$checkout-tooltip-icon-arrow__font-size                       : 1rem !default;
$checkout-tooltip-icon__font-size                             : 2.1rem !default;

$checkout-tooltip-content-mobile__right                       : -($indent__s) !default;
$checkout-tooltip-content-mobile__top                         : 3rem + $checkout-tooltip-icon-arrow__font-size !default;
$checkout-tooltip-content__background-color                   : $color-gray-light01 !default;
$checkout-tooltip-content__padding                            : 1.2rem !default;
$checkout-tooltip-content__border-width                       : 0.1rem !default;

$checkout-tooltip-content__border-color                       : $color-gray60 !default;
$checkout-tooltip-content__font-size                          : $font-size__base !default;
$checkout-tooltip-content__width                              : 270px !default;
$checkout-tooltip-content__active__border-color               : darken($checkout-tooltip-content__border-color, 20%) !default;
$checkout-tooltip-icon-arrow__left                            : -( $checkout-tooltip-content__padding + $checkout-tooltip-icon-arrow__font-size - $checkout-tooltip-content__border-width) !default;

$checkout-billing-address-details__line-height                : 27px !default;

// Checkout
$checkout-step-title__padding                                 : $indent__s !default;
$checkout-step-title__border                                  : $border-width__base solid $color-gray80 !default;
$checkout-step-title__font-size                               : 26px !default;
$checkout-step-title__font-weight                             : $font-weight__light !default;
$checkout-sidebar__columns                                    : 4 !default;
$checkout-shipping-address__max-width                         : 500px !default;

//
//  Sidebar
//  ---------------------------------------------

// Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background
$sidebar__background-color                                    : $color-white-smoke !default;

//
//  Variables missing in extend.scss
//  ---------------------------------------------

$addto-color                                                  : $primary__color !default;
$addto-hover-color                                            : $link__hover__color !default;

//
//  Product
//  ---------------------------------------------

$product-name-link__color                                     : $text__color !default;
$product-name-link__color__active                             : $text__color !default;
$product-name-link__color__hover                              : $text__color !default;
$product-name-link__color__visited                            : $text__color !default;

$product-name-link__text-decoration                           : none !default;
$product-name-link__text-decoration__active                   : $link__hover__text-decoration !default;
$product-name-link__text-decoration__hover                    : $link__hover__text-decoration !default;
$product-name-link__text-decoration__visited                  : $link__hover__text-decoration !default;

//
//  Button
//  ---------------------------------------------

$button__shadow                                               : inset 0 2px 1px rgba(0, 0, 0, 0.12) !default;

//
//  Minicart
//  ---------------------------------------------

$minicart-icons-color                                         : $header-icons-color !default;
$minicart-icons-color-hover                                   : $header-icons-color-hover !default;