.admin__menu .item-securetrading.parent.level-0 > a:before {
    margin-bottom: 0;
    background-image: url('SecureTrading_Trust::images/TRUST_Payments_White.png');
    content: '';
    margin-top: 5px;
    height: 29px;
    background-size: cover
}

.admin__menu .item-securetrading.parent.level-0 > a > span {
    display: none;
}