<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Elevate_Productdeepercontent::Deepercontent" sortOrder="10" title="Deepercontent">
					<resource id="Elevate_Productdeepercontent::Deepercontent_save" sortOrder="10" title="Save Deepercontent"/>
					<resource id="Elevate_Productdeepercontent::Deepercontent_delete" sortOrder="20" title="Delete Deepercontent"/>
					<resource id="Elevate_Productdeepercontent::Deepercontent_update" sortOrder="30" title="Update Deepercontent"/>
					<resource id="Elevate_Productdeepercontent::Deepercontent_view" sortOrder="40" title="View Deepercontent"/>
				</resource>
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Elevate_Productdeepercontent::config_elevate_productdeepercontent" title="elevate_deepercontent"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
