<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<elevate_deepercontent>
			<general>
				<enable_random_display>0</enable_random_display>
				<random_number_to_display>1</random_number_to_display>
			</general>
		</elevate_deepercontent>
	</default>
</config>
