// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

$collapsible-nav-background: $sidebar__background-color;
$collapsible-nav-color: $color-gray34;
$collapsible-nav-current-border: 3px solid transparent;
$collapsible-nav-current-border-color: $active__color;
$collapsible-nav-current-color: $color-black;
$collapsible-nav-current-font-weight: $font-weight__semibold;
$collapsible-nav-delimiter__border-color: $color-gray82;
$collapsible-nav-item-hover: $color-gray91;



//
//  Abstract toggle title block
//  ---------------------------------------------

@include max-screen($screen-xs-max) {
  .abs-toggling-title-mobile {
    border-bottom: $border-width__base solid $border-color__base;
    border-top: $border-width__base solid $border-color__base;
    cursor: pointer;
    margin-bottom: 0;
    padding: $indent__s $indent__xl $indent__s $layout__width-xs-indent;
    position: relative;

    @include lib-icon-font(
      $_icon-font-content   : $icon-down,
      $_icon-font-size      : 28px,
      $_icon-font-text-hide : false,
      $_icon-font-position  : after,
      $_icon-font-display   : block
    );

    &:after {
      position: absolute;
      right: $indent__s;
      top: 0;
    }

    &.active {
      @include lib-icon-font-symbol(
        $_icon-font-content  : $icon-up,
        $_icon-font-position : after
      );
    }
  }
}



  //
  //  Collapsible navigation
  //  -----------------------------------------

  .block-collapsible-nav {
    @include max-screen($screen-xs-max) {
      left: 0;
      position: absolute;
      top: -21px;
      width: 100%;
      z-index: 5;
    }
    .title {
      @include max-screen($screen-xs-max) {
          padding: 10px 40px 10px 15px;
          @extend .abs-toggling-title-mobile;
        }
      @include min-screen($screen-sm-min) {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

    }

    .content {
      @include max-screen($screen-xs-max) {
          border-bottom: $border-width__base solid $border-color__base;
          display: none;
          &.active {
            display: block;
          }
      }
      background: $collapsible-nav-background;
      padding: 15px 0;
    }
    .item {
      margin: 3px 0 0;
      &:first-child {
        margin-top: 0;
      }

      a,
      > strong {
        border-left: 3px solid transparent;
        color: $collapsible-nav-color;
        display: block;
        padding: 5px 18px 5px 15px;
      }

      a {
        text-decoration: none;

        &:hover {
          background: $collapsible-nav-item-hover;
        }
      }

      &.current {
        a,
        > strong {
          border-color: $collapsible-nav-current-border-color;
          color: $collapsible-nav-current-color;
          font-weight: $collapsible-nav-current-font-weight;
        }

        a {
          border-color: $collapsible-nav-current-border-color;
        }
      }

      .delimiter {
        border-top: 1px solid $collapsible-nav-delimiter__border-color;
        display: block;
        margin: $indent__s 1.8rem;
      }
    }
  }