.secure-trading-section .heading {background: url("SecureTrading_Trust::images/tp-logo.png") no-repeat; padding-left: 20rem; height:7rem}
.secure-trading-section .button-container {float: right;}
.secure-trading-section.section-config.active > .admin__collapsible-block + input + fieldset { margin-left: 40px; }
 .accordion .form-inline .config .secure-trading-section .use-default {
  padding: 29px 1.5rem 15px 10px;
}