<!-- 
 * MageClass_ClickAndCollect Magento Extension
 *
 * @category    MageClass
 * @package     MageClass_ClickAndCollect
 * @author      Milan Stojanov <milan.stojanov@outlook.com>
 * @website    http://www.mageclass.com
 -->
 <style>
 v.checkout-p_block {
    width: 100% !important;
    max-width: 100% !important;
}
div#checkout-step-shipping {
    max-width: 348px !important;
}
.checkout-p input[type=radio]+label {
    line-height: 1.45;
    clear: both !important;ss ss
    display: block !important;
}
._3L52d {
    display: none !important;
}
 </style>
<div data-bind="visible: isClickAndCollect()">

  



</div>


