<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <secure_trading>
                <model>SecureTradingFacade</model>
                <title>Secure Trading - STPP</title>
                <group>secure_trading_group</group>
                <active>0</active>
                <payment_action>order</payment_action>
                <specificcountry></specificcountry>
                <sort_order>100</sort_order>
                <can_use_checkout>1</can_use_checkout>
                <can_order>1</can_order>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_authorize>1</can_authorize>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <can_use_internal>1</can_use_internal>
                <back_office>0</back_office>
                <currency>USD</currency>
                <allowspecific>0</allowspecific>
                <url_choice_page>process/payments/choice</url_choice_page>
                <url_details_page>process/payments/details</url_details_page>
                <order_place_redirect_url>1</order_place_redirect_url>
                <paymentInfoKeys>errorcode,notificationreference,orderreference,paymenttypedescription,requestreference,settlestatus,sitereference,transactionreference,accounttypedescription,enrolled,status,maskedpan,authcode,securityresponsepostcode,securityresponseaddress,securityresponsesecuritycode</paymentInfoKeys>
                <payment_pages>
                    <payment_pages_optional>
                        <display_settings>
                            <use_iframe>1</use_iframe>
                            <iframe_height>600px</iframe_height>
                            <iframe_width>100%</iframe_width>
                        </display_settings>
                        <version_settings>
                            <version>2</version>
                            <st_profile>default</st_profile>
                            <skip_choice_page>1</skip_choice_page>
<!--                            <show_multiselect_accepted_card>0</show_multiselect_accepted_card>-->
                            <parent_css>st.magentoiframeparent</parent_css>
                            <child_js>st.magentoiframechild</child_js>
                        </version_settings>
                        <tokenization_settings>
                            <use_tokenization>0</use_tokenization>
                            <save_cc_question>Save your card details?</save_cc_question>
                        </tokenization_settings>
                        <other_settings>
                            <payment_action>authorize_capture</payment_action>
                            <settle_status>0</settle_status>
                            <settle_due_day>0</settle_due_day>
                            <ws_verify_ca>1</ws_verify_ca>
                            <ppg_cancel_60107>0</ppg_cancel_60107>
                        </other_settings>
                    </payment_pages_optional>
                </payment_pages>
            </secure_trading>
        </payment>
    </default>
</config>