@import "components/media-queries";
@import "components/bootstrap-mixins";
@import "components/rj-mixins";
//@import "/components/elevate-megamenubase";

$screen-lowerthan-iphone6:   376px;

$screen-xs-mid-min:          377px;
$screen-xs-mid-max:          479.98px;

$screen-xs-min:              480px;
$screen-xs-max:              767.98px;

$screen-sm-min:              768px;
$screen-sm-max:              991.98px;

$screen-md-min:              992px;
$screen-md-max:              1169.98px;

$screen-lg-min:              1170px;
$screen-lg-max:              1469.98px;

$screen-xlg-min:             1470px;


// Global variables
@import "modules/magento-ui/variables/global";
@import "modules/magento-ui/variables/colors";
@import "modules/magento-ui/variables/icons";
@import "modules/magento-ui/variables/typography";

// All variables
@import "modules/magento-ui/variables/actions-toolbar";
@import "modules/magento-ui/variables/breadcrumbs";
@import "modules/magento-ui/variables/buttons";
@import "modules/magento-ui/variables/components";
@import "modules/magento-ui/variables/dropdowns";
@import "modules/magento-ui/variables/email";
@import "modules/magento-ui/variables/forms";
@import "modules/magento-ui/variables/layout";
@import "modules/magento-ui/variables/loaders";
@import "modules/magento-ui/variables/messages";
@import "modules/magento-ui/variables/navigation";
@import "modules/magento-ui/variables/pages";
@import "modules/magento-ui/variables/popups";
@import "modules/magento-ui/variables/rating";
@import "modules/magento-ui/variables/responsive";
@import "modules/magento-ui/variables/sections";
@import "modules/magento-ui/variables/structure";
@import "modules/magento-ui/variables/tables";
@import "modules/magento-ui/variables/tooltips";


//
//  Global lib
//  _____________________________________________

@import "modules/magento-ui/actions-toolbar";
@import "modules/magento-ui/breadcrumbs";
@import "modules/magento-ui/buttons";
@import "modules/magento-ui/dropdowns";
@import "modules/magento-ui/forms";
@import "modules/magento-ui/grids";
@import "modules/magento-ui/icons";
@import "modules/magento-ui/layout";
@import "modules/magento-ui/loaders";
@import "modules/magento-ui/messages";
@import "modules/magento-ui/navigation";
@import "modules/magento-ui/pages";
@import "modules/magento-ui/popups";
@import "modules/magento-ui/rating";
@import "modules/magento-ui/resets";
@import "modules/magento-ui/sections";
@import "modules/magento-ui/tables";
@import "modules/magento-ui/tooltips";
@import "modules/magento-ui/typography";
@import "modules/magento-ui/utilities";

@import "modules/_vars_other";
@import "modules/_variables";

@import "modules/extend";

@import "modules/_general";
@import "modules/_page-layout";
@import "modules/_breadcrumbs";
@import "modules/_prices";
@import "modules/_typography";

@import "modules/buttons";
@import "modules/pages/customer_account";
@import "modules/pages/catalog_search";
@import "modules/pages/rewards_clubs";
@import "modules/pages/mageplaza_blog";
@import "modules/pages/cart";
@import "modules/pages/brand_ambassador";
@import "modules/pages/informed_sport";

@import "modules/sections/magento_layerednavigation";
@import "modules/sections/collapsible_navigation";

@import "modules/pages/page_404";
@import "modules/product-page";
@import "modules/product-page/product-variations";
@import "modules/product-page/ev_product_icons";
@import "modules/product-page/mirasvit_rewards";
@import "modules/category_header";
@import "modules/category-page";
@import "modules/category-page/ev_cat_page_product_icons";
@import "modules/elevate-megamenu";
@import "modules/header";
@import "modules/footer";
@import "modules/homepage";
@import "modules/pages/checkout";


@import "modules/external/owl-carousel/owl.carousel";
@import "modules/temp";

@import "modules/sub-modules/ev_linkedproducts";
@import "modules/sub-modules/minicart";