//
//  Indents
//  ---------------------------------------------


$indent__base     : 2rem;
$indent__xl       : $indent__base * 2; // 40px
$indent__l        : $indent__base * 1.5; // 30px
$indent__m        : $indent__base * 1.25; // 25px
$indent__s        : $indent__base / 2; // 10px
$indent__xs       : $indent__base / 4; // 5px
$indent__auto     : auto !default;

//
//  Icons
//  ---------------------------------------------
$icons__font-name : 'icons-blank-theme' !default;
