// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@toolbar-mode-icon-font-size: 16px;
@toolbar-background: transparent;
@toolbar-element-background: @color-gray94;
@toolbar-element__color: @color-gray37;
@pager-action__background: @toolbar-element-background;
@pager-action__hover__background: darken(@toolbar-element-background, 7%);
@pager__font-weight: @font-weight__bold;