.theme-pearl.catalogsearch-result-index {
  dl.block {
    padding:       2.2rem;
    margin-bottom: 0;
    border-bottom: $category-page-border;
    .title {
      font-size: 1.2rem;
    }
    .item {
      font-size: 1.2rem;
    }
  }
}